# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PRACTICE\resilient-microservices-communications\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
